*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1400px;
    margin: 0 auto;
}


.r_header{
    display: flex;
    gap: 12px;
}
.window_log{
    width: 400px;
    height: 100%;
    margin: 15% auto;
    background-color: rgb(240, 240, 240);
    padding: 25px;
}
.window_log .tittle{
    margin-bottom: 6px;
    font-size: 28px;
}
.window_log input{
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    margin-top: 24px;
    padding: 10px;
}
.window_log p{
    margin-top: 6px;
    font-size: 12px;
    text-align: center;
}